*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}                                          

/* Background Light Gray - A very light gray used as the main background color:

Hex: #F4F6F9
Dark Gray - Used for the main text and menu items:

Hex: #333333
Accent Red - Highlighted text and buttons:

Hex: #E53935
Secondary Gray - Used for lighter text and subheadings:

Hex: #666666
Soft Pinkish Gray - A very subtle color used as a background accent behind the image:

Hex: #EFEFF3
Button Background Red - Strong red for the button:

Hex: #E53935*/

body{
  background-color: #F4F6F9;
  color:#333333; 
  font-family: "Faculty Glyphic", sans-serif;
  font-weight: bold;
  font-style:normal ;
  font-size: large;
}

.nav-bar{
  display: flex;
 padding: 10px 20px 0 20px;
 flex-wrap: nowrap;
 align-items: center;
 align-content: center;

}

.nav-bar-part1{
   padding-top: 8px;
   padding-left: 100px;
}

.nav-bar-part2{
    list-style-type: none;
    display:flex ;
    margin-left: 80px;
    align-items: flex-start;
}

.nav-bar-li{
    padding-left: 100px;
}

.image-contain{
    position: relative;
    height:auto;
    overflow:hidden;
    
}

.image-contain img{
    display: block;
    max-width: 100%;
}
.prof-img {
   
    height: auto;
    object-fit: cover;
   
}

.after-nav-bar{
    display: flex;
    width: 100%;
    flex-wrap:wrap;
    justify-content: space-evenly;

}

.after-nav-bar-text{
    display: flex;
    font-family: "Rowdies", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    align-content: flex-end;
    justify-content:center;
    flex-direction: column;
    align-items: flex-start;
}

.word-raviru{
    color: #FF0000;
}
.custom-line {
    width: 40px;       
    border: none;      
    height: 2px;    
    background-color: black; 
    margin: 20px 0;    
}

.hr-hello-text{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 100px;
}

.hello-text{
    padding-left: 20px;
    font-family: "Faculty Glyphic", sans-serif;
    font-weight: bold;
    font-style:normal ;
    font-size: large;
}

.after-intropara-text{
    font-family: "Faculty Glyphic", sans-serif;
    font-weight: bold;
    font-style:normal ;
    font-size: large;
}

.nav-bar-part2 li a {
    text-decoration: none;
    color: #333333;
    
}

nav li a:hover{
    color: #FF0000;;
}

#logo{
    width: 200px;
    height: auto;
    transition: transform 0.3s ease;
}

#logo:hover {
    transform: scale(0.9); 
}

#cv-link {

  color:bisque;
  background-color:#FF0000;
  padding: 8px 13px;
  text-decoration: none;
  margin: 30px 0;
  font-size: medium;
  transition: transform 0.3s ease;
  border: 2px solid #FF0000;
  border-radius: 15px;

}

#cv-link:hover{
    transform: scale(1.1); 

}

.srilanka-img{
    width: 30px;
    height: auto;
    margin-top:10px ;
}

.sl-and-jp-img{
    display: flex;
    justify-content: space-between;
    
}

#sl-img{
    margin-left:10px ;
}

.wrapper{
    display: inline-flex;
    
}

.social-text-el{
    margin-bottom: 10px;
    font-size: 10px;
    background: #fff;
    padding: 10px 18px;
    border-radius: 15px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    opacity: 0;
    pointer-events: none;
    
}

.social-text-el i {
    line-height: 60px;
}
.icon.fb{
    margin-left:0;
}
.icon{
    margin: 0px 5px;
    display: flex;
    width: 80px;
    height: 100px;
    flex-direction: column;
    align-items: stretch;
}

.icon i{
    font-size:large;
}
.wrapper .icon span{
    position: relative; 
    height: 40px;
    width: 40px;
    display: block;
    background:#fff ;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    position: relative;
    z-index: 2;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    
}

.wrapper .icon span:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background:#fff;
    left: 50%;
    top:-20px;  
    transform: translateX(-50%) rotate(45deg);
    opacity: 0;
    pointer-events: none;
  }
 
.icon:hover {
   transform: scale(1.1);
   transition: transform 0.3s ease;
}
.social-link{
    text-decoration: none;
    color: #333333;

}

.fab.fa-facebook-f:hover{
    color:#1877F2;
}

.fab.fa-twitter:hover{
    color:#1DA1F2;
}

.fab.fa-instagram:hover{
    color: #E1306C;
}

.icon.github:hover{
    color:#181717;
}

.about-part{
   display: flex;
    height: 40vh;
    align-items:center;
    justify-content:flex-start;
    padding-left:138px;
    line-height:50px;
    margin-top: 10%;
}
.about-part p{
    text-align: justify;
}

.about-part-div{
    width: 81vw;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.line-bef-about{
    width: 40px;      
    border: none;     
    height: 2px;       
    background-color: black; 
    margin: 20px 0;
    
}

.about-text{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.about-text span{
    padding-left:20px;
}



  .Education-part{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
   
  }
  
  .edu-div-container-1{
       display: flex;
       flex-direction: row;
  }
  .edu-div-container-2{
    display: flex;
    flex-direction: row;
  }
  .Education-divs{
   
    width: 40vw;
    height: 400px;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 5px;
  }
  .Education-divs p{
    padding-top: 10px;
    padding-left: 10px;
  }

  .Education-divs hr{
    margin:20px 0 40px 20px;
  }

  .title-educationdiv{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .content-educationdiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 50px;
  }
  .content-educationdiv img{
    width: 240px;
    height:280px;
    padding-left: 30px;
    transition: transform 0.3s ease;
  }

  .content-educationdiv img:hover{
    transform: scale(1.2);
  }
 #Mahanamalogo{
    padding-right: 10px;
    
 }
  #japuralogo{
    height: 200px;
    margin-top: 37px;
    padding-right:10px;
  }
  #cardifflogo{
    width: 300px;
    height: 120px;
    margin-top: 50px;
    padding-right: 10px;
  }
  #cardiff-text{
    padding-top: 30px;
  }
  #nibmlogo{
    height: 170px;
    margin-top:30px;
    padding-right: 20px;
  }
  
.skills-p-div{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  font-size: 70px;
}

.skill-icon-div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;

}

.skill-icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10vw;
    height:25vh;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 35px;
    transition: transform 0.3s ease;
}
.skill-icons:hover{
  transform: scale(1.2);
}
.skill-icons img{
  width: 50%;
  height: 40%;
  
}

.skill-icons p{
  padding:10px 0 0 30px;
}
.Experience-div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.Experience-icon{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40vw;
  height:50vh;
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 35px;
  transition: transform 0.3s ease;
}

.Experience-icon p{
  padding: 50px;
  line-height: 30px;
}

.Experience-icon h1{
  border-radius: 10%;
  padding: 10px;
  background-color: #FF0000;
}

#exp-para3{
  padding-top: 20px;
}




  footer {
    background-color: #969494;
    color: #ffffff;
    font-family: "Faculty Glyphic", sans-serif;
    padding: 40px 20px;
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }
  
  .footer-container div {
    flex: 1;
    min-width: 200px;
  }
  
  .footer-logo h2 {
    font-size: 24px;
    color: #FF0000;
  }
  
  .footer-links ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-links li {
    margin: 10px 0;
  }
  
  .footer-links a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .footer-links a:hover {
    color: #FF0000;
  }
  
  .footer-contact p {
    margin: 10px 0;
  }
  
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 2px solid #333;
    padding-top: 10px;
    font-size: 14px;
  }
  
  
  @media (max-width: 768px) {
    .footer-container {
      flex-direction: column;
      text-align: center;
    }
  }

  .footer-logo img{
    width: 200px;
    height: auto;
    transition: transform 0.3s ease;
  }